.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(17, 103, 143);
    position: sticky;
    top: 0;

}

.header_logo {
    display: flex;
    align-items: center;
    color: orange;
    margin: 0 25px;
    font-size: 30px;

}

.headerlogoImage {
    margin-right: 10px;
    padding-left: -5px;

}

.header_logoTitle {

    border: 0;
    color: white;
    margin-left: 10px;
}

.header_searchbar {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    margin: 0 10px;
}

.header_searchinput {
    height: 16px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_searchicon {
    padding: 5px;
    /* height: 20px; */
    background-color: orange;
    

}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

.nav_item {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

    color: white;
    margin-top: 2px;
}

.navitem1 {
    margin-top: 5px;
    font-size: 12px;
}

.navitem2 {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 780;
}

.nav_itemBasket {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 50px;
    margin-left: 10px;
}

.nav_basketCount {
    margin-left: 10px;
    margin-right: 10px;
}
.navLink{
    text-decoration: none !important;
    
}