img {
    height: 120px;
}

.Product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    /* border-bottom: 2rem; */
}

.product_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}